PORT=5000
NODE_ENV=development

# JWT
JWT_SECRET=your_super_secret_key_change_this
JWT_EXPIRES_IN=7d

# Database — uncomment যেটা লাগবে
# MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/dbname
# DATABASE_URL=postgresql://user:pass@localhost:5432/dbname

# Add more as needed:
# CLOUDINARY_URL=
# TWILIO_SID=
# SMTP_HOST=
